<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Deals</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Epicodus Cars 4 Sale</h1>
    </div>
    <div class="well text-center">
      <h3>Current Cars for Sale:</h3>
      <ul>
        @foreach(object automobile in Model)
        {
          <li>@_makeModel</li>
        }
      </ul>
      <form action="/car/form" method="post">
        <button type="submit" name="btn btn-primary">Add A Car</button>
      </form>
    </div>
  </body>
</html>
