<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Deals</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="well text-center">
      <h1>You've added a new item!</h1>
      <p>@Model.GetModel()</p>
      <p>@Model.GetDescription()</p>
      <p>$@Model.GetPrice()</p>
      <p>@Model.GetMiles() miles</p>
      <p><a href="/car/form">Add another car</a></p>
      <p><a href="/car/list">Return to main page</a></p>
    </div>
  </body>
</html>
